@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foregounrd: #ffffff;
    --background: #000000;
  }
}

@font-face {
  font-family: "Nyght Serif";
  src: url("../../public/fonts/NyghtSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nyght Serif Regular";
  src: url("../../public/fonts/NyghtSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hind Bold";
  src: url("../../public/fonts/Hind-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Hind Regular";
  src: url("../../public/fonts/Hind-Regular.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
}

h1 {
  font-family: "Nyght Serif regular", serif;
  font-size: 48px;
}

h2 {
  font-family: "Hind Bold", sans-serif;
  font-size: 2vw;
}

p {
  font-family: "Hind Regular", sans-serif;
}
